.containerAbout{
    animation: transitionIn 0.75s;
    display: flex;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.bigContainerAbout{
    width: 90%;
     margin: 3vh auto
}
.bannerAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    min-width: 100%;
    height: 60vh;
    background-position: center 45%;
    background-size: cover;
    background-repeat: no-repeat 
}
#ourStory{
    color: white; 
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
.firstText{
    padding: 2em 5em
}
.secondText{
    padding: 1em 5em
}

.photoAbout{
    display: flex;
     flex-direction: column;
     justify-content: center;
       align-content: center;
         width: 40vw;
          height: 60vh;
           background-position: center;
            background-size: cover;
             background-repeat: no-repeat
}

.textAbout{
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}


/* Responsive */
@media (max-width: 800px) {
    .containerAbout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 5vh auto;
        padding: 0;
    }
    .photoAbout{
        width: 80%;
        margin: 3vh auto;
    }
    .textAbout{
        width: 80%;
        margin: 3vh auto;
    }
}