
.container_footer{
    width: 100%;
    display: flex;
}
.container_links_footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
}

.container_links_footer{
    background-color: rgb(0, 0, 0);
}

.container_links_footer div:nth-child(2) img{
    width: 1.5em;
    padding-top: 2em;
}

.container_links_footer  div:nth-child(3) a{
    color: whitesmoke;
}