main {
    min-height: 65vh !important;
}

.container__maps{
    text-align: center;
    padding: 2em;
}

.container__maps p{
    font-size: 2em;
    font-weight: bold;
}

.container__maps iframe{
    width:50%;
    height: 450px;
    border: none;
}

#dosfotos{
    margin: 15vh 6vw;
    display: flex;
    justify-content: space-between;
}

#dosfotos div:hover{
    box-shadow: 0vw 0vw 0.4vw 0vw rgb(116, 116, 116);

}


.fotosHome{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tresfotos{
    margin: 10vh 6vw;
    display: flex;
    justify-content: space-between;
}

#tresfotos div{
    box-shadow: 0vw 0vw 0.4vw 0vw rgb(116, 116, 116);

}
