main {
    min-height: 65vh !important;
}

.containerBanner{
    display: flex;
    background-size: cover;
    height: 80vh;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    align-content: center 
}

#newIn{
    font-size: '6.5em';
    color: '#111111';
    font-weight: "600"
}
#containerThree{
    margin: 10vh 6vw;
    display: flex;
    justify-content: space-between;
} 

.instaPhotos{
    margin: 1vh;
    width: 15vw;
    height: 15vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.anotherPhotos {
    margin: 3vh;
    width: 35%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photoHome{
    width: 20vw;
    height: 35vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgHomeText {
    display: flex;
    justify-content: center;
    margin: 6vh auto;
    width: 100%;
    justify-content: center
}

.imgText{
    width: 40%;
    margin: 0vh 3vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center 
}

.imgHome{
    width: 40%;
    height: 45vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center 
}



.shopNowPhotos{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 10vh 0vh
}

.containerInsta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% ;
    margin-bottom: 3vh
}

.hashtags {
    width: 30%;
    margin: 2vh auto;
    font-weight: lighter;
    text-align: center
}
.instaDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 5vh 0vh
}

.oneDiv {
    display: flex;
}


/********** Responsive **********/
@media (max-width: 800px) {
    #tresfotos{
        margin: 8vh 6vw;
        display: flex;
        flex-wrap: wrap;
    }
    .fotoHome {
        margin-bottom: 2vh;
        width: 48%;
        height: 55vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .imgText{
        margin: 1vh auto;
        width: 80%;
    }

    .imgHome{
        margin: 1vh auto;
        height: 35vh;
        width: 80%;
    }
}


@media (max-width: 900px) {
    .shopnowPhotos{
        display: flex;
        flex-direction: column;
    }
    .anotherPhotos{
        width: 80%;
        margin: 1vh auto;
    }
    .instaDiv {
        display: flex;
        flex-wrap: wrap;
    }
    .oneDiv{
        display: flex;
        flex-direction: column;
    }
    .instaPhotos {
        width: 25vw;
        height: 25vw;
    }
}

@media (max-width: 700px) {
    .instaPhotos {
        width: 35vw;
        height: 35vw;
    }
    .hashtags {
        width: 70%;
    }
    .imgHome{
        margin: 1vh auto;
        height: 30vh !important;
        width: 75% !important;
    }
}

@media (max-width: 1100px) {
    .imgHomeText{
        display: flex;
        flex-direction: column;
    }
    .imgText{
        margin: 1vh auto;
        width: 80%;
    }

    .imgHome{
        margin: 1vh auto;
        height: 50vh;
        width: 75%;
    }
}