.container__card{
    display: flex;
    flex-direction: row-reverse;

}

.oneProduct{
    display: flex;
    width: 100%;
}

.aProduct {
    width: 50%;
}

.bottomText{
    display: flex;
    width: 100%;
}

.fotosHome, .foto2Home {
    width: 40%;
}

@media (max-width: 900px) {
    .oneProduct{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aProduct {
        width: 100%;
    }
    .bottomText{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .fotosHome, .foto2Home{
        width: 100%;
    }
}

.buttonSize{
    border: 1px solid #5f5f5f;
    color: #2c2c2c;
     width: 2em;
      height: 2em;
      display: flex;
       justify-content: center; 
       text-align: center;
       font-size: 1.5em;
       background: #97979734;
       align-items: center;
}
.buttonSize:hover{
    border: 1px solid #111111;
    color:whitesmoke;
       background: #111111;
}


