.container__card{
    display: flex;
    flex-direction: row-reverse;

}

.oneProduct{
    display: flex;
    margin: 0vh auto;
    width: 90%;
}

.aProduct1 {
    width: 60%;
}

.aProduct2 {
    width: 25%;
}


.bottomText{
    display: flex;
    width: 100%;
}

.fotosHome, .foto2Home {
    width: 40%;
}

@media (max-width: 900px) {
    .oneProduct{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aProduct1 {
        width: 100%;
    }
    .aProduct2 {
        width: 100%;
    }
    .bottomText{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .fotosHome, .foto2Home{
        width: 100%;
    }
}

.buttonSize {
    width: 6.5vh !important;
    height: 5.5vh!important;
    font-size: 2vh!important;
    font-weight: lighter !important;
}


