#paginaShop{
    background-color: rgb(255, 255, 255);
    padding:  0;
}

#paginaShop h2{
    color: #111111;
    padding-top: 5vh;
    margin-bottom: 2vh;
    text-align: center;
}

.imgShop{
    visibility: visible;
    display: block;
}

#todoShop{
    padding: 2vh 4vw 8vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.addToCart{
    color: #ffffff !important;
    font-size: 20px;
    padding: 0.3em;
    background: #111111;
    border:none;
    transition: all 1s ease;
    text-decoration: none;
    height: 60px;
    width: 60%;
}

.articulo{
    height: 410px;
    width: 330px;
    background-color: white;
    color: #111111;
    margin: 1vh auto!important;
    display:flex;
    flex-direction: column;
    padding: 2vh 1vw;
}

.articulo h3 {
    align-self: center;
    margin-bottom: 2vh;

}

#imagenShop{
    align-self: center;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 350px;
    width: 100%;
    border: 1px solid white;
}

#imagenShopList{
    align-self: center;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100%;
    border: 1px solid white;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover{
    background: none!important;
}

.articulo p {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#precioShop, #colorShop {
    font-weight: bold;
}



#fotosChicas{
    height: 8vh;
    width: 100%;
    margin-top: 1vh;
    align-self: center;
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-between;
}

#imagenShopChica{
    align-self: center;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0.4px solid rgba(158, 158, 158, 0.932);
    margin-right: 1vw;
    border-radius: 100%;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

#imagenShopChica2{
    align-self: center;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 1vw;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


#divBotonVerMas{
display: flex;
justify-content: center;
}


button.createAccount{
    color: #ffffff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.3em 1em;
    background: #111111;
    border:none;
    transition: all 1s ease;
    position: relative;
    text-decoration: none;
  }
.createAccount a {
color: #ffffff ;
}
.createAccount a:hover{
    color:#111111!important ;
    }

button.createAccount:hover{
    background: #ffffff;
    color:#111111 !important;
    border: 1px #111111 solid;
  }
.articulo > a{
    text-decoration: none;
}

.listArticle a{
    display: block;

}
.scrollProduts::-webkit-scrollbar{
    display: flex;
    overflow-x: scroll;
}

.orderFilter:hover{
    cursor: pointer;
}
.orderFilter{
    font-size: 1.2em;
    margin:2px 0;
    font-weight: 300;
}

@media (max-width: 650px) {
    .orderProducts{
        display: flex;
        flex-direction: column;
    }
    .imgShop{
        display: none;
        visibility: hidden;
    }
}