#paginaShop{
    background-color: black;
}

#paginaShop h2{
    color: white;
    padding-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

#todoShop{
    padding: 5vh 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#articulo{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin: 1vh auto!important;
    display:flex;
    flex-direction: column;
    padding: 2vh 2vw;
}

#articulo h3 {
    align-self: center;
    margin-bottom: 2vh;

}

#imagenShop{
    align-self: center;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 190px;
    width: 190px;
    box-shadow: 0vw 0vw 0.4vw 0vw rgb(116, 116, 116);
    border: 1px solid white;
}

#articulo p {
    margin-top: 2vh;
    align-self: center;
}

#precioShop, #colorShop {
    font-weight: bold;
}



#fotosChicas{
    height: 8vh;
    width: 190px;
    background-color: black;
    border: 1px solid black;
    margin-top: 1vh;
    align-self: center;
    padding: 1vh 1vw;
    display: flex;
}

#imagenShopChica{
    align-self: center;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    margin-right: 1vw;
}


#divBotonVerMas{
display: flex;
justify-content: center;
}


button.createAccount{
    margin-bottom: 4vh;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 1vh 1vw;
    margin-bottom: -2vh;

}

button.createAccount:hover{
    color: black;
    background-color: white;
    border: 1px solid black;


}
