html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

header{
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    padding-right: 10vw;
    border-bottom: 1px solid white;
}

a{
    color:  rgb(245, 245, 245);
    justify-content: space-between;
    text-decoration: none;
    padding: 1vw;
    font-size: 1.3em;
}
a:hover{
    text-decoration: none;
}

#brand{
    font-size: 1em;
}


